<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVp0cJkCBBhGK25qRp0BbEtprkN6ndihM</string>
	<key>GCM_SENDER_ID</key>
	<string>811743424293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.wvu.rms</string>
	<key>PROJECT_ID</key>
	<string>wvurms-82dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>wvurms-82dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811743424293:ios:05e7b70e0a6e433201f4cc</string>
</dict>
</plist>